#footer{ 
 background-color:  #5c1a03!important;
 padding-top:30px;
 padding-bottom:30px;
 text-align: center;
}
   
.footerLink {
  margin: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footerLink:hover {
  text-decoration: underline;
}


.footer1 h1 a{
text-decoration:none; 
color:#FFFFFF;
   }
.footer1 ul{
padding:0;
margin:0;
text-align:center;
padding-top:30px;
   }
.footer1 li{
display:inline;
margin-right:10px;
   }
.footer1 li a{
color: #fec764;
font-size:17px;
padding:20px 20px 20px 20px;
   }
.footer1 li a:hover{
border-radius: 50%;
font-size: 16px;
background:#fec764;
color:#FFFFFF;
   }

   .footer2 p{
padding-top:40px;
color: #a1a4a8;
font-size: 16px;
   }
.footer2 p a{
color: #a1a4a8;
font-size: 16px;
line-height: 2;
text-decoration:none;
   } 
.footer2 p a:hover{
color: #fec764;
   } 

/* Responsive styles */
@media (max-width: 768px) {

  .footerLink {
    font-size: 15px;
  }

}

@media screen and (max-width : 767px) {
#footer {
padding-top: 20px;
padding-bottom: 20px;
}
.footer1 li {
display: inline;
}
.footer1 li a {
font-size: 17px;
padding: 10px 10px 10px 10px;
}
.footer1 li {
margin:0px;
}
.footer1 li {
margin-right:0px;
}
.footer1 li {
margin:0px;
}
}

@media (min-width:470px) and (max-width:767px) {
.footer1 li {
display: inline;
margin:0px;
}
}

@media (min-width:768px) and (max-width:960px) {
   .footer1 li {
margin-right: 0px;
}
}

@media (min-width:961px) and (max-width:1200px) {
   .footer1 li {
margin-right: 0px;
}
}